<!DOCTYPE html>
<html lang="!$page_langue_code_iso$!">
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Delphi books about !$motcle_libelle$!</title>
<link rel="stylesheet" href="../styles.css">
<meta property="og:url" content="!$page_url$!">
<link rel="canonical" href="!$page_url$!">
<meta property="og:title" content="Delphi books about !$motcle_libelle$!">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Delphi books">
<meta property="og:image" content="https://delphi-books.com/img/Delphi-Books-1200x630.png">
<meta property="og:image:secure_url"  content="https://delphi-books.com/img/Delphi-Books-1200x630.png">
<meta name="twitter:card" content="photo">
<meta name="twitter:image" content="https://delphi-books.com/img/Delphi-Books-1200x630.png">
<link rel="image_src" href="https://delphi-books.com/img/Delphi-Books-130x110.png">
<link rel="alternate" type="application/rss+xml" title="List of Delphi books" href="https://delphi-books.com/!$page_langue_code_iso$!/rss.xml">
</head>
<body>
<div id="container">
<header>
<a href="index.html" title="Delphi-Books.com" class="logo"><img src="../img/Delphi-Books-278x150.gif" alt="Delphi Books logo"></a>
<span class="btngroup">
<a href="livres.html" title="All Delphi books" class="btn"><img src="../img/btn/BoutonLivres.gif" alt="Books"></a>
<a href="auteurs.html" title="All writers" class="btn"><img src="../img/btn/BoutonAuteurs.gif" alt="Writers"></a>
<a href="editeurs.html" title="All publishers" class="btn"><img src="../img/btn/BoutonEditeurs.gif" alt="Publishers"></a>
<a href="langues.html" title="All languages" class="btn"><img src="../img/btn/BoutonLangues.gif" alt="Languages"></a>
</span>
</header>
<div id="content">
<h1>Topic : !$motcle_libelle$!</h1>
<!-- <a name="about"></a><h2>About !$motcle_libelle$!</h2> -->
!$liste_livres_par_motcle$!!$if liste_premier_element$!<a name="books"></a><h2>Books on !$motcle_libelle$!</h2><div>!$/if$!<a href="!$livre_nom_page$!" title="!$livre_titre$! (!$livre_datedesortie$!)"><img src="../covers/150x0/!$livre_photo$!" alt="!$livre_titre$!"></a> !$/liste_livres_par_motcle$!!$if liste_precedente_affichee$!</div>!$/if$!
</div>
<footer>
<p><a href="../opendata.html">Open data / API</a><br>
<a href="index.html">Delphi-Books.com</a> &copy; !$page_copyright_annees$! <a href="https://olfsoftware.fr">Olf Software</a> / <a href="https://developpeur-pascal.fr">Developpeur-Pascal.fr</a></p>
</footer>
</div>
</body>
</html>